{% extends "layout.html" %}

{% block title %}
    Teacher Registration
{% endblock %}

{% block main %}
        <h2>Questions</h2>

    <table>
        <thead>
        <!--<tr>-->
        <!--    <th>Question</th>-->
        <!--    <th>Answered</th>-->
        <!--</tr>-->
        </thead>
        <tbody>
        {% for question in questions %}
        <tr>
            <td id="first"><a href="url">{{ question["Title"] }}</a></td>
            <td id="second">{{ question["Answered"] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}