{% extends "layout.html" %}

{% block title %}
    Teacher Registration
{% endblock %}

{% block main %}
        <form action="/question" id="submitting" method="post">
            <input name="title" placeholder="What's your question?" type="text"/>
            <input name="description" placeholder="Description" type="text"/>
		    <input name="code" placeholder="Insert any code"type="text"/>
            <input type="submit" value="submit"/>
        </form>
        <script>

            let form = document.getElementById("post");
            form.onsubmit = function() {

                if (!form.title.value)
                {
                    alert("missing title");
                    return false;
                }
                else if (!form.description.value)
                {
                    alert("missing description");
                    return false;
                }
                return true;
            };
        </script>
{% endblock %}