<!DOCTYPE html>

<html>
    <head>
        <!-- Apps CSS -->
        <link href="static/styles.css" rel="stylesheet"/>

        <title>Questions</title>
    </head>
    <body>
        <h2>Questions</h2>

    <table>
        <thead>
        <!--<tr>-->
        <!--    <th>Author</th>-->
        <!--    <th>Question</th>-->
        <!--    <th>Answered</th>-->
        <!--</tr>-->
        </thead>
        <tbody>
        {% for question in questions %}
        <tr>
            <td>{{ question["UserName"] }}</td>
            <td><a href="url">{{ question["Title"] }}</a></td>
            <td>{{ question["Answered"] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>
</html>